{% extends "../base.html" %}
{% load static %}
{% load mathfilters %}
{% block index %}
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">recipe</a></li>
    </ul>
{% endblock %}

{% block recipegroup %}
<!-- <div class="heading"> 조건검색 </div> -->

{% endblock %}

{% block foodgallery %}
  <div id="comments">
    <figure>
      <ul id="">
        <li>
          <article>
            <header>
              <address> By <a href="#"> 조건검색 </a>
              </address> 
            </header>
            <div class="comcont">
              <nav class="pagination">
                <ul>
                  <li>
                    <a class="current" id="selectrecipegroup">
                      국가별
                    </a>
                  </li>
                  <li>
                    <a class="current" id="selectrecipetype">
                      종류별
                    </a>
                  </li>
                  <li>
                    <a class="current" id="selectrecipelevel">
                      난이도별
                    </a>
                  </li>
                  <li>
                    <a class="current" id="selectrecipecookingtime">
                      시간별
                    </a>
                  </li>
                </ul>
                <ul id="sortable" ondrop="drop(event)" ondragover="allowDrop(event)" >
                  {% for i in recipegroups %}
                  <li draggable="true" ondragstart="drag(event)">
                    <a class="current" id="{{ i.recipegroup }}" ondrop="drop(event)" ondragover="allowDrop(event)" draggable="true" ondragstart="drag(event)" >
                      {{ i.recipegroup }} 
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </nav>
            </div>
          </article>
        </li>
      </ul>
    </figure>
  </div>
  <div id="comments">
    <figure>
      <ul class="selectrecipe" id="recipegroup">
        <li>
          <article>
            <header>
              <figure class="avatar" id="selectrecipe">
                <i class="fa fa-map-marker"></i>
              </figure>
              <address><a> 끌어서 검색</a>
              </address> 
            </header>
            <div class="comcont" id="div1" ondrop="drop(event)" ondragover="allowDrop(event)" style="min-height:20px;">
            </div>
          </article>
        </li>
      </ul>
    </figure>
  </div>

  <div id="gallery">
    <figure>
      <header class="heading">recipe</header>
      <ul class="nospace clear" id="show_recipe_list">
      </ul>
    </figure>
  </div>

  <nav class="pagination">
    <ul id="chage_recipe">
    </ul>
  </nav>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="{% static 'maxisonix/ajax/recipe.js' %}"></script>
{% endblock %}