{% extends "./order_mainpage.html" %}
{% load static %}
{% block cartindex %}
<ul>
  <li><a href="{% url 'index' %}">Home</a></li>
  <li><a href="{% url 'order_check' %}">order_check</a></li>
</ul>
{% endblock %}
{% block orderdetail %}
<div class="content three_quarter"> 
  <!-- ################################################################################################ -->
  <h1>내 주문 목록</h1>
  <p>저희 웹사이트는 주문대행업체이기때문에 <a href="#">배달관련사항</a> 은 판매자에게 문의해주세요</p>
  <p>기타 문의사항은 <a href="#">Q&A</a> 창을 이용해주시기 바랍니다</p>
  <br/>
  <div id="comments">
    {% if orderList %}
    <nav class="pagination">
      <table>
        <tr>
          <th>주문번호</th>
          <th>주문수단</th>
          <th>총금액</th>
          <th>이메일</th>
          <th>전화번호</th>
          <th>우편번호</th>
          <th>주소</th>
          <th>상세주소</th>
        </tr>
        {% for i in orderList %}
          <tr>
            <td><a class="show_order_detail">{{ i.id_uid }}</a></td>
            <td>{{ i.pay }}</td>
            <td>{{ i.order_money }}</td>
            <td>{{ i.order_email }}</td>
            <td>{{ i.order_phone }}</td>
            <td>{{ i.order_postcode }}</td>
            <td>{{ i.order_roadAddress }}</td>
            <td>{{ i.order_detailAddress }}</td>
          </tr>
        {% endfor %}
      </table>
    </nav>  
    {% else %}
    <table>
      <tr>
        <td>주문하신 상품이 없습니다</td>
      </tr>
    </table>
    {% endif %}
  </div>
  <br/>

  <br/>
  <br/>
</div>
<div id="show_order_detail_modal" class="show_order_detail_modal">
  <nav class="pagination">
    <div class="show_order_detail_modal-content">
      <div id="comments">
      <p>상품 목록</p>
        <table>
          <thead>
            <th>주문번호</th>
            <th>음식명</th>
            <th>갯수</th>
            <th>가격</th>
            <th>주문시간</th>
          </thead>
          <tbody id="show_orderList">
          </tbody>
        </table>
        <input type='submit' id="close_order_modal" value='닫기'>
      </div>
    </div>
  </nav>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'order/order_notice.js' %}"></script>
<style>
  .show_order_detail_modal {
    color: black;
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .show_order_detail_modal-content {
      overflow: auto;/* Enable scroll if needed */
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 1%;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */   
        height: 50%;              
    }
  </style>
{% endblock %}