{% extends "./order_mainpage.html" %}
{% load static %}
{% block cartindex %}
<ul>
  <li><a href="{% url 'index' %}">Home</a></li>
  <li><a href="{% url 'order_check' %}">order_check</a></li>
</ul>
{% endblock %}
{% block orderdetail %}
<div class="content three_quarter"> 
  <!-- ################################################################################################ -->
  <h1>내 주문 목록</h1>
  <p>저희 웹사이트는 주문대행업체이기때문에 <a href="#">배달관련사항</a> 은 판매자에게 문의해주세요</p>
  <p>기타 문의사항은 <a href="#">Q&A</a> 창을 이용해주시기 바랍니다</p>
  <br/>
  <div id="comments">
    {% if orderList %}
    <nav class="pagination">
      <table>
        <tr>
          <th>주문번호</th>
          <th>주문수단</th>
          <th>총금액</th>
          <th>이메일</th>
          <th>전화번호</th>
          <th>우편번호</th>
          <th>주소</th>
          <th>상세주소</th>
        </tr>
        {% for i in orderList %}
          <tr>
            <td><a href="">{{ i.id_uid }}</a></td>
            <td>{{ i.pay }}</td>
            <td>{{ i.order_money }}</td>
            <td>{{ i.order_email }}</td>
            <td>{{ i.order_phone }}</td>
            <td>{{ i.order_postcode }}</td>
            <td>{{ i.order_roadAddress }}</td>
            <td>{{ i.order_detailAddress }}</td>
          </tr>
        {% endfor %}
      </table>
    </nav>  
    {% else %}
    <table>
      <tr>
        <td>주문하신 상품이 없습니다</td>
      </tr>
    </table>
    {% endif %}
  </div>
  <br/>

  <br/>
  <br/>
</div>
{% endblock %}