{% extends "./order_mainpage.html" %}
{% load static %}
{% block cartindex %}
<ul>
  <li><a href="{% url 'index' %}">Home</a></li>
  <li><a href="{% url 'order_home' %}">order</a></li>
  <li><a href="{% url 'order_finish' %}">주문 완료</a></li>
</ul>
{% endblock %}
{% block orderdetail %}
<div class="content three_quarter"> 
  <!-- ################################################################################################ -->
  <h1>주문 완료</h1>
  <p><a href="#">송장번호</a> 는 주문하시고 난 뒤 등록된 메일 또는 핸드폰으로 전송됩니다</p>
  <p>저희 웹사이트는 주문대행업체이기때문에 <a href="#">배달관련사항</a> 은 판매자에게 문의해주세요</p>
  <p>기타 문의사항은 <a href="#">Q&A</a> 창을 이용해주시기 바랍니다</p>
  <br/>
  <!-- ################################################################################################ -->
</div>
<script type="text/javascript">
  window.history.forward();
  function noBack(){window.history.forward();}
</script>
<body onload="noBack();" onpageshow="if(event.persisted) noBack();" onunload=""></body>
{% endblock %}