{% extends "../base.html" %}
{% block account %}
<h2>sign up</h2>
<form action="../signup/" method="post">
    {% csrf_token %}
    <label for="id">id <span>*</span></label>
    <div class="three_quarter first">
        <input type="text" name="id" id="id" value="" size="22" required>
    </div>
    <div class="one_half first">
        <label for="password">password <span>*</span></label>
        <input type="password" name="password" id="password" value="" size="22" required>
    </div>
    <div class="one_half first">
        <label for="name">Name <span>*</span></label>
        <input type="text" name="name" id="name" value="" size="22" required>
    </div>
    <div class="one_half">
        <label for="sex">sex <span>*</span></label>
        <select name="sex" style="height: 100%; width: 100%;">
        <option value="male" selected="selected">남</option>
        <option value="female" >여</option>
        </select>
    </div>
    <div class="one_half first">
        <label for="email">Mail <span>*</span></label>
        <input type="email" name="email" id="email" value="" size="22" required>
    </div>
    <div class="one_third first">
        <label>birth</label>
        <input type="date" name="date" id="date" value="2000-01-01">
    </div>
    <div class="one_half first">
        <label>address<span>*</span></label>
        <input type="text" id="postcode" name="postcode" placeholder="우편번호" required>
    </div>
    <div class="one_quarter">
        <label>&nbsp</label>
        <input type="button" style="width: 50%;" onclick="execDaumPostcode()" value="우편번호 찾기" required>
    </div>
    <div class="one_half first">
        <input type="text" id="roadAddress" name="roadAddress" placeholder="도로명주소" required>
    </div>
    <div class="one_half">
        <input type="text" id="jibunAddress" name="jibunAddress" placeholder="지번주소" required>
    </div>
    <div class="one_half first">
        <input type="text" id="detailAddress" name="detailAddress" placeholder="상세주소" required>
    </div>
    <div class="block clear">
    </div>
    <div>
        <input type="submit" name="submit">
    </div>
</form>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                var roadAddr = data.roadAddress;
                var extraRoadAddr = '';

                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraRoadAddr += data.bname;
                }
                if(data.buildingName !== '' && data.apartment === 'Y'){
                   extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                if(extraRoadAddr !== ''){
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }

                document.getElementById('postcode').value = data.zonecode;
                document.getElementById("roadAddress").value = roadAddr;
                document.getElementById("jibunAddress").value = data.jibunAddress;

                var guideTextBox = document.getElementById("guide");
                if(data.autoRoadAddress) {
                    var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
                    guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
                    guideTextBox.style.display = 'block';

                } else if(data.autoJibunAddress) {
                    var expJibunAddr = data.autoJibunAddress;
                    guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
                    guideTextBox.style.display = 'block';
                } else {
                    guideTextBox.innerHTML = '';
                    guideTextBox.style.display = 'none';
                }
            }
        }).open();
    }
</script>
{% endblock %}

