{% extends "../base.html" %}
{% load mathfilters %}
{% block foodgallery %}

<div id="gallery">
  {% if foodList %}
  <figure>
    <header class="heading">Gallery Title Goes Here</header>
    <ul class="nospace clear">
      {% for i in foodList %}
      <li class="one_quarter {% if forloop.counter|mod:4 == 1 %}first{% endif %}">
        <a href="{% url 'fooddetail' i.id %}"><img src="../../static/calMain/images/our-blog/img-{{i.id}}.jpg" alt=""></a>
      <div><a href="{% url 'fooddetail' foodnum=i.id %}">{{ i.foodname }}</a></div></li>
      {% endfor %}
    </ul>
  </figure>
  {% endif %}
  {% if recipeList %}
  <figure>
    <header class="heading">Gallery Title Goes Here</header>
    <ul class="nospace clear">
      {% for i in recipeList %}
      {{ i }}
      <!-- <li class="one_quarter {% if forloop.counter|mod:4 == 1 %}first{% endif %}">
        <a href="{% url 'fooddetail' i.id %}"><img src="../../static/calMain/images/our-blog/img-{{i.id}}.jpg" alt=""></a>
      <div><a href="{% url 'fooddetail' foodnum=i.id %}">{{ i.foodname }}</a></div></li> -->
      {% endfor %}
    </ul>
  </figure>
  {% endif %}
</div>

<nav class="pagination">
  <ul>
    <li><a href="{{ index|sub:1 }}">&laquo; Previous</a></li>
    {% for i in range %}
    <li class=" {% if i == index %}current{% endif %}">
      <a href="{% url 'food' i %}">{{ i }}</a>
    </li>
    {% endfor %}
    <!-- TODO 맨마지막일때 처리 -->
    <li><a href="{{ index|add:1 }}">Next &raquo;</a></li>
  </ul>
</nav>

{% endblock %}