{% extends "../base.html" %}
{% load static %}
{% load mathfilters %}
{% block index %}
    <ul>
      <li><a href="{% url  'index' %}">Home</a></li>
      <li><a href="{% url  'recipe' %}">recipe</a></li>
    </ul>
{% endblock %}

{% block foodgallery %}
  <div id="comments">
    <figure>
      <ul>
        <li style="background-color: white;">
          <article id="direct_search">
            <header>
              <address> By <a id="direct_search_btn"> 직접검색 <i id="direct_search_btn_css" class="fa fa-chevron-down"></i> </a> 
              </address> 
            </header>
          </article>
        </li>
        <li style="background-color: white;">
          <article id="condition_search">
            <header>
              <address> By <a id="condition_search_btn"> 조건검색 <i id="condition_search_btn_css" class="fa fa-chevron-down"></i> </a>
              </address> 
            </header>
          </article>
        </li>
      </ul>
    </figure>
  </div>

  <div id="gallery">
    
    <figure>
      <header class="heading">recipe</header>
      <ul class="nospace clear" {% if not findList %} id="show_recipe_list" {% endif %}>
        {% if findList %}
        {% for obj in findList %}
        {% if forloop.counter|mod:4 == 1 %}
        <li class="one_quarter show_recipedetail first" name="">
        {% else%}
        <li class="one_quarter show_recipedetail" name="">
        {% endif %}
        <a href="../showrecipe/{{obj.recipename}}_{{obj.recipeid}}/">
        <div>{{ obj.recipename }}</div>
        {{ obj.price }}</a>
        </li>
        {% endfor %}
        {% endif %}
      </ul>
    </figure>
  </div>

  <nav class="pagination">
    <ul id="chage_recipe">
    </ul>
  </nav>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="{% static 'recipe/gallery.js' %}"></script>
  
{% endblock %} -->