{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Maxisonix</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link href="{% static 'maxisonix/layout/styles/layout.css' %}" rel="stylesheet" type="text/css" media="all">
</head>
<body id="top">
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- Top Background Image Wrapper -->
<div class="bgded overlay" style="background-image:url( {% static 'maxisonix/images/demo/backgrounds/06.jpg' %}); background-size: auto; background-repeat: no-repeat; "> 
  <!-- ################################################################################################ -->
  <div class="wrapper row0">
    <div id="topbar" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div class="fl_left">
        <ul>
          <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
          <li><i class="fa fa-envelope-o"></i> info@domain.com</li>
        </ul>
      </div>
      <div class="fl_right">
        <ul class="nino-iconsGroup">
          <li><a href="{% url 'index' %}"><i class="fa fa-lg fa-home"></i></a></li>
          {% if request.session.name %}
          <li><a href="{% url 'signout' %}">Logout</a></li>
          <li><a id="show_cart">cart</a>&nbsp;<span id="cart_all_cnt"></span></li>
          {% else %}
          <li><a href="{% url 'login' %}">Login</a></li>
          <li><a href="{% url 'account' %}">signin</a></li>
          <li><a id="show_cart">cart</a>&nbsp;<span id="cart_all_cnt"></span></li>
          {% endif %}
        </ul>
      </div>
      <!-- ################################################################################################ -->
    </div>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row1">
    <header id="header" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div id="logo" class="fl_left">
        <h1><a href="{% url 'index' %}">Maxisonix</a></h1>
      </div>
      <nav id="mainav" class="fl_right">
        <ul class="clear">
          <li class="active"><a href="{% url 'index' %}">Home</a></li>
          <li><a class="drop" href="#">Pages</a>
            <ul>
              <li><a href="{% url 'recipe' %}">recipe</a></li>
              <li><a href="{% static 'maxisonix/pages/sidebar-left.html' %}">Sidebar Left</a></li>
              <li><a href="{% static 'maxisonix/pages/sidebar-right.html' %}">Sidebar Right</a></li>
              <li><a href="{% static 'maxisonix/pages/basic-grid.html' %}">Basic Grid</a></li>
            </ul>
          </li>
          <li><a class="drop" href="#">Dropdown</a>
            <ul>
              <li><a href="#">Level 2</a></li>
              <li><a class="drop" href="#">Level 2 + Drop</a>
                <ul>
                  <li><a href="#">Level 3</a></li>
                  <li><a href="#">Level 3</a></li>
                  <li><a href="#">Level 3</a></li>
                </ul>
              </li>
              <li><a href="#">Level 2</a></li>
            </ul>
          </li>
          <li><a href="#">Link Text</a></li>
          <li><a href="#">Link Text</a></li>
        </ul>
      </nav>
      <!-- ################################################################################################ -->
    </header>
  </div>
  <div id="myModal" class="modal">
    <div class="modal-content">
      <div class="scrollable">
        <p style="text-align: center;"><span style="font-size: 14pt;"><b><i class="fa fa-shopping-basket"></i>
          <span style="font-size: 24pt;">cart</span></b></span></p>
          <table>
            <thead>
              <tr>
                <th>상품명</th>
                <th>품목</th>
                <th>금액</th>
                <th>개수</th>
                <th>총액</th>
                <th>상품수량변경</th>
                <th>상품 제거</th>
              </tr>
            </thead>
            <tbody id="cart_body">
            </tbody>
          </table>
          <p style="text-align: right;">
            <a href="{% url 'order_home' %}" style="color: black;">구매하러가기</a>
        </p>
          <p style="text-align: right;" class="pop_bt">
            닫기
        </p>
      </div>
    </div>
  </div>
  {% block home %}
  {% endblock %}
  <div class="wrapper row4 bgded overlay" style="background-image:url('images/demo/backgrounds/03.png');">
    <footer id="footer" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <div class="one_third first">
        <h6 class="title">Sagittis metus odio</h6>
        <p>Ligula a placerat condimentum orci nulla feugiat odio vel felis lacinia interdum cras auctor purus ut hendrerit.</p>
        <p class="btmspace-15">Malesuada non sem quisque vulputate velit et nisi ullamcorper aliquet tincidunt ut id magna leo mattis in quam dapibus.</p>
        <ul class="faico clear">
          <li><a class="faicon-facebook" href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a class="faicon-twitter" href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a class="faicon-dribble" href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a class="faicon-linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
          <li><a class="faicon-google-plus" href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a class="faicon-vk" href="#"><i class="fa fa-vk"></i></a></li>
        </ul>
      </div>
      <div class="one_third">
        <h6 class="title">Fringilla arcu quis</h6>
        <ul class="nospace linklist contact">
          <li><i class="fa fa-map-marker"></i>
            <address>
            Street Name &amp; Number, Town, Postcode/Zip
            </address>
          </li>
          <li><i class="fa fa-phone"></i> +00 (123) 456 7890</li>
          <li><i class="fa fa-fax"></i> +00 (123) 456 7890</li>
          <li><i class="fa fa-envelope-o"></i> info@domain.com</li>
        </ul>
      </div>
      <div class="one_third">
        <h6 class="title">Venenatis ligula sem</h6>
        <ul class="nospace linklist">
          <li>
            <article>
              <h2 class="nospace font-x1"><a href="#">In neque nam tortor</a></h2>
              <time class="font-xs block btmspace-10" datetime="2045-04-06">Friday, 6<sup>th</sup> April 2045</time>
              <p class="nospace">Facilisis ex facilisis curabitur euismod egestas mauris et ultricies mauris&hellip;</p>
            </article>
          </li>
          <li>
            <article>
              <h2 class="nospace font-x1"><a href="#">Odio lobortis nec cursus</a></h2>
              <time class="font-xs block btmspace-10" datetime="2045-04-05">Thursday, 5<sup>th</sup> April 2045</time>
              <p class="nospace">Cras consequat sem quis hendrerit interdum nunc diam volutpat&hellip;</p>
            </article>
          </li>
        </ul>
      </div>
      <!-- ################################################################################################ -->
    </footer>
  </div>
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <!-- ################################################################################################ -->
  <div class="wrapper row5">
    <div id="copyright" class="hoc clear"> 
      <!-- ################################################################################################ -->
      <p class="fl_left">Copyright &copy; 2018 - All Rights Reserved - <a href="#">Domain Name</a></p>
      <p class="fl_right">Template by <a target="_blank" href="https://www.os-templates.com/" title="Free Website Templates">OS Templates</a></p>
      <!-- ################################################################################################ -->
    </div>
  </div>

<a id="backtotop"><i class="fa fa-chevron-up"></i></a>
<!-- JAVASCRIPTS -->
<script src="{% static 'maxisonix/layout/scripts/jquery.min.js' %}"></script>
<script src="{% static 'maxisonix/layout/scripts/jquery.backtotop.js' %}"></script>
<script src="{% static 'maxisonix/layout/scripts/jquery.mobilemenu.js' %}"></script>
<script src="{% static 'maxisonix/layout/scripts/jquery.flexslider-min.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'maxisonix/ajax/home.js' %}"></script>

<script src="{% static 'maxisonix/layout/scripts/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'maxisonix/layout/scripts/jquery.prettyPhoto.js' %}"></script>
<script src="{% static 'maxisonix/layout/scripts/jquery.hoverdir.js' %}"></script>
<script src="{% static 'maxisonix/layout/scripts/modernizr.custom.97074.js' %}"></script>
<script src="{% static 'maxisonix/layout/scripts/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'maxisonix/layout/scripts/unslider-min.jss' %}"></script>
<script src="{% static 'maxisonix/layout/scripts/template.js' %}"></script>
<style>
  .modal {
    color: black;
       display: none; /* Hidden by default */
       position: fixed; /* Stay in place */
       z-index: 1; /* Sit on top */
       left: 0;
       top: 0;
       width: 100%; /* Full width */
       height: 100%; /* Full height */
       background-color: rgb(0,0,0); /* Fallback color */
       background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
   }

   /* Modal Content/Box */
   .modal-content {
      overflow: auto;/* Enable scroll if needed */
       background-color: #fefefe;
       margin: 15% auto; /* 15% from the top and centered */
       padding: 1%;
       border: 1px solid #888;
       width: 60%; /* Could be more or less, depending on screen size */   
       height: 60%;                       
   }
 </style>
</body>
</html>
