{% extends "./home.html" %}
{% load static %}
  {% block home %}
  
  <div id="pageintro" class="hoc clear"> 
    <!-- ################################################################################################ -->
    <div class="flexslider basicslider">
      <ul class="slides">
        <li>
          <article>
            <h3 class="heading">맛있게! 즐겁게! 재밌게!</h3>
            <p>먹고 싶은 음식을 빨리 찾아보세요!</p>
            <footer>
              <form class="group" method="post" action="./showrecipe">
                {% csrf_token %}
                <fieldset>
                  <legend></legend>
                  <input type="text" name="name" placeholder="recipe Here&hellip;">
                  <button class="fa fa-sign-in" type="submit" title="Submit"><em>Submit</em></button>
                </fieldset>
              </form>
            </footer>
          </article>
        </li>
        <li>
          <article>
            <p>Vulputate</p>
            <h3 class="heading">Rhoncus nisl non</h3>
            <p>Interdum erat ipsum quis leo viverra magna</p>
            <footer><a class="btn inverse" href="#">Fusce efficitur</a></footer>
          </article>
        </li>
        <li>
          <article>
            <p>Maecenas</p>
            <h3 class="heading">Diam feugiat tellus</h3>
            <p>Aliquam ante odio at condimentum mauris</p>
            <footer><a class="btn" href="#">Tincidunt etiam</a></footer>
          </article>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </div>
  <!-- ################################################################################################ -->
</div>
<!-- End Top Background Image Wrapper -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row3">
  <main class="hoc container clear"> 
    <!-- main body -->
    <!-- ################################################################################################ -->
    <div class="center btmspace-80">
      <h3 class="heading">가장 많이 사랑받은 상품</h3>
    </div>
    <ul class="nospace group center" id="product_top3">
    </ul>
    <!-- ################################################################################################ -->
    <!-- / main body -->
    <div class="clear"></div>
  </main>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper bgded" style="background-color: white;">
  <div class="hoc split clear">
    <section id="getPopular"> 
    </section>
  </div>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper row2">
  <article class="hoc container clear"> 
    <!-- ################################################################################################ -->
    <div class="one_quarter first">
      <h3 class="heading font-x2">Auctor neque ac luctus ex proin sed</h3>
    </div>
    <div class="three_quarter">
      <p class="nospace btmspace-30">Lorem cursus id ultrices lectus mattis cras ut velit ornare blandit erat nec efficitur nisi phasellus pretium lectus eu massa tempor euismod cras porta pulvinar lacus sit.</p>
      <ul class="nospace group stats">
        <li><i class="fa fa-3x fa-user-secret"></i>
          <p>2345</p>
          <p><a href="#">Laoreet</a></p>
        </li>
        <li><i class="fa fa-3x fa-ils"></i>
          <p>1234</p>
          <p><a href="#">Elementum</a></p>
        </li>
        <li><i class="fa fa-3x fa-fire"></i>
          <p>345</p>
          <p><a href="#">Euismod</a></p>
        </li>
        <li><i class="fa fa-3x fa-crosshairs"></i>
          <p>12345</p>
          <p><a href="#">Curabitur</a></p>
        </li>
      </ul>
    </div>
    <!-- ################################################################################################ -->
  </article>
</div>

<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<div class="wrapper coloured">
  <article class="hoc cta clear"> 
    <!-- ################################################################################################ -->
    <h6 class="three_quarter first">Faucibus ligula at vehicula justo nullam ligula</h6>
    <footer class="one_quarter"><a class="btn" href="#">Lacus nullam nisi &raquo;</a></footer>
    <!-- ################################################################################################ -->
  </article>
</div>
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<!-- ################################################################################################ -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'main/index.js' %}"></script>
{% endblock %}